Library/Containers/*
.DS_Store
**/.DS_Store
Library/
.CFUserTextEncoding
.gitconfig
.lesshst
.viminfo
.vscode/
.zsh_history
.zsh_sessions/
Desktop/
Movies/
Music/
Pictures/
Public/
classroom/
eclipse-workspace/
eclipse/
grocerystore-/